@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    background: url(assets/camping.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    width: 500px;
    height: 500px;
    background: #F0F0F0;
    margin-left: 38%;
    margin-top: 300px;
    border-radius: 2px;
}

#log {
    border: transparent;
    background: transparent;
    font-size: 30px;
    width: 400px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

::-webkit-input-placeholder {
    color: #383838;
    font-family: 'EB Garamond', serif;
}

#bt {
    animation: shadow-pulse 1s infinite;
    margin-left: 200px;
    font-size: 15px;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    background: transparent;
    height: 80px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    width: 70px;
    margin-top: -15px;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

#title {
    color: #383838;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    text-align: center;
}

#text-box {
    margin-left: 25%;
    margin-top: 1300px;
    height: 50px;
    width: 1000px;
    background: transparent;
    color: white;
    font-size: 20px;
    border: 1px solid white;
}

#text-box::placeholder {
    color: white;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

#txbt {
    height: 49px;
    width: 80px;
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 1300px;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

#msg {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: white;
    margin-top: -1300px;
    position: relative;
    list-style-type: none;
}